.animal:hover {
    border: 3px solid black;
    background: pink;
}

#add-animal:hover{
    border: 3px solid black;
    background: yellow;
}

#str1:hover{
    border: 3px solid black;
    background: blue;  
}

#ttt{
    font-weight: bold;
    color:red
}
