.animal:hover {
    border: 3px solid black;
    background: pink;
}

#add-animal:hover{
    border: 3px solid black;
    background: yellow;
}

#str1:hover{
    border: 3px solid black;
    background: blue;  
}

<<<<<<< HEAD

=======
>>>>>>> 31537bb5ea66b4255f16bb78b158932be9e67ec8
#ttt{
    font-weight: bold;
    color:red
}
